#skill .skill__container{
    display: inline-grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
.skill__container{
    display: flex;
    
    grid-template-columns: repeat(3, 1fr) !important;
}
@media (max-width:1024px) {
    #skill .skil__container{
        grid-template-columns: 1fr;
    }
    #skill .skill__container .skill__card{
        width: 80%;
        padding: 2rem;
        margin: 0 auto;
    }
    #skill .skill__content{
        padding: 1rem;
    }
}

@media (max-width:600px){
    #skill .skill__container{
        gap: 1rem;
         display: flex;
        flex-direction: column;
    }
    #skill .skill__container .skill__card{
        width: 100%;
        padding: 2rem 1rem;
    }

}
